<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>

<style>
body{
	overflow-x: hidden;
	
	background-image: url("https://images.unsplash.com/photo-1578311639859-c8679fccd561?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}
</style>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Library Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/books}">Library
						Management</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			
			<div
				class="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
				<h1 class="text-center">Create New Book</h1>
				<div class="card-body">
					<form th:action="@{/books}" th:object="${book}" method="POST">
						<div class="form-group">
							<label> Tittle Of The Book </label> <input type="text" name="bookName"
								th:field="*{bookName}" class="form-control"
								placeholder="Enter Book Name" />
						</div>

						<div class="form-group">
							<label> Author </label> <input type="text"
								name="authorName" th:field="*{authorName}" class="form-control"
								placeholder="Enter Book Author name" />
						</div>

						<div class="form-group">
							<label> Book Type </label> <input type="text" name="genere"
								th:field="*{genere}" class="form-control"
								placeholder="Enter Book genere" />
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>